* {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      vertical-align: baseline;
      font-size: 100%;
}

html {
font-family: 'Poppins', sans-serif;
}

a {
  display: block;
  text-decoration: none;
}


body {
      width: 100%;
      background: #0E0E0E;
}

.wrapper {
      width: 90%;
      margin: 0 auto;
      padding-top: 10%;
}

h1 {
      color: #fff;
      font-size: 48px;
}

p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
}

.text-body {
      height: 100px;
      padding: 10px;
    }

.title-section {
      color: white !important; 
}


/* nav section */

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 6rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.1rem;
  color: #fff;
  padding: 0 1rem;
  transition: opacity .5s;
}

.nav-link:hover {
  opacity: .7;
}


/* .work */

.work {
      text-align: center;
      width: 100%;
}

.work img {
      margin: 1%;
      width: 45%;
}

/* header2 */

.header2 {
      margin: 100px 0 80px 120px;
}

.header2 p {
      width: 60%;
      margin-top: 10px;
}

/* .work2 */
.work2 {
      width: 100%;
      text-align: center;
}

.work2 img {
      margin: 1%;
      width: 45%;
}

/* footer */

.footer-container {
      background-color: #242424;
      padding: 4rem 0 2rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20%;
    
    
    }
    
    .footer-subscription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 24px;
      padding: 24px;
      color: white;
    }
    
    .footer-subscription-heading {
      margin-bottom: 24px;
      font-size: 24px;
    }
    
    .footer-subscription-text {
      margin-bottom: 24px;
      font-size: 20px;
    }
    
    .footer-input {
      padding: 8px 20px;
      border-radius: 2px;
      margin-right: 10px;
      outline: none;
      border: none;
      font-size: 18px;
      margin-bottom: 16px;
      border: 1px solid #fff;
    }
    
    .footer-links {
      width: 100%;
      max-width: 1000px;
      display: flex;
      justify-content: center;
    }
    
    .footer-link-wrapper {
      display: flex;
    }
    
    .footer-link-items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 16px;
      text-align: left;
      width: 160px;
      box-sizing: border-box;
    }
    
    .footer-link-items h2 {
      margin-bottom: 16px;
    }
    
    .footer-link-items > h2 {
      color: #fff;
    }
    
    .footer-link-items a {
      color: #fff !important;
      text-decoration: none;
      margin-bottom: 8px;
    }
    
    .footer-link-items a:hover {
      color: #e9e9e9;
      transition: 0.3s ease-out;
    }
    
    /* social icons */
    
    .social-icon-link {
      color: #fff;
      font-size: 24px;
    }
    
    .social-media {
      max-width: 1000px;
      width: 100%;
    }
    
    .social-media-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1000px;
      margin: 40px auto 0 auto;
    }
    
    .social-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px;
    }
    
    .social-logo {
      color: #fff;
      justify-self: start;
      margin-left: 20px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    }
    
    .website-rights {
      color: #fff;
      margin-bottom: 16px;
    }
    
    
    
    /* Media Queries */
    
    /* Nav */
    
    @media screen and (max-width: 960px) {
      .NavbarItems {
        position: relative;
      }
    
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        background: rgb(2,0,36);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }
    
      .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }
    
      .nav-links:hover {
        background-color: #104a53;
        border-radius: 0;
      }
    
      .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
      }
    
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .fa-times {
        color: #fff;
        font-size: 2rem;
      }
    }

/* Responsiveness */

@media only screen and (max-width: 991px) {
      .work img {
            margin: 2%;
            width: 90%;
      }

      .header2 {
            text-align: left;
            margin: 100px 0 100px 30px;
      }

      .header2 h1 {
            font-size: 36px;
      }

      .header2 p {
            font-size: 12px;
            width: 90%;
      }

      .work2 img {
            margin: 2%;
            width: 90%;

      }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
  }

  header .container {
    padding: 0;
  }

  .nav-list {
    margin: 0;
  }

  .nav-list-mobile {
    display: flex;
  }

  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .nav-item-hidden {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff;
    transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.98);
  }

  .line-top{
    margin-top: 3px;
  }

  .line-bottom{
    margin-top: -.4rem;
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s;
  }

  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s;
  }

  header.active {
    height: 100%;
    background-color: #000;
  }

  .nav-link-logo {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }

  .nav {
    position: relative;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
  }

  .active .nav-list-desktop {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  .nav-list-desktop .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255,255,255,.1);
  }

  .nav-list-desktop .nav-item:nth-child(4){
    border-bottom: none;
  }

  .active .nav-list-desktop .nav-item {
    animation: fadeIn 1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}
